{
  "lms.env.json": [
    {
      "op": "add", 
      "path": "/TOP_LEVEL_SETTING", 
      "value": "some_value"
    },
    {
      "op": "add", 
      "path": "/FEATURES/ENABLE_SOMETHING",
      "value": true
    },
    {
      "op": "remove", 
      "path": "/SETTING_YOU_WANT_TO_REMOVE", 
    }
  ],
  "cms.env.json": [
    {
      "op": "add", 
      "path": "/TOP_LEVEL_CMS_SETTING", 
      "value": "some_value"
    }
  ]
}
